<% if @shift.errors.any? %>
  <ul>
    <% @shift.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @shift, scope: :shift, url: schedule_shifts_path(@schedule), method: :post do |form| %>
  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <%= form.submit %>
<% end %>

<p><%= link_to "Back to schedule", schedule_path(@schedule) %></p>
