<h1>Edit shift</h1>

<% if @shift.errors.any? %>
  <ul>
    <% @shift.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @shift, scope: :shift, url: schedule_shift_path(@schedule, @shift), method: :patch do |form| %>
  <div>
    <%= form.label :date, "Date" %>
    <%= form.date_field :date %>
  </div>

  <%= submit_tag "Save shift" %>
<% end %>

<p><%= link_to "Back to schedule", schedule_path(@schedule) %></p>
