<h1>Edit <%= @weekday %> hours</h1>

<% if @interval.errors.any? %>
  <ul>
    <% @interval.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @interval, url: schedule_weekday_interval_path(@schedule, @weekday, @interval), method: :patch do |form| %>
  <div>
    <%= form.label :starts_at, "Starts at" %>
    <%= form.time_select :starts_at, { minute_step: 5, ignore_date: true } %>
  </div>

  <div>
    <%= form.label :ends_at, "Ends at" %>
    <%= form.time_select :ends_at, { minute_step: 5, ignore_date: true } %>
  </div>

  <%= submit_tag "Save hours" %>
<% end %>

<p><%= link_to "Back to schedule", schedule_path(@schedule) %></p>
