<h1>Schedule <%= @schedule.key %></h1>

<dl>
  <dt>Schedulable</dt>
  <dd><%= @schedule.schedulable_type %> #<%= @schedule.schedulable_id %></dd>

  <dt>Time zone</dt>
  <dd><%= @schedule.time_zone %></dd>
</dl>

<h2>Hours</h2>

<% BizRecord::Interval::WEEKDAYS.each do |weekday| %>
  <div>
    <div>
      <%= weekday %>
    </div>

    <ul>
      <% if @schedule.intervals.public_send(weekday).any? %>
        <% @schedule.intervals.public_send(weekday).order(:starts_at).each do |interval| %>
          <li>
            <%= interval.starts_at_string %> ~ <%= interval.ends_at_string %>
            (<%= link_to "Edit", edit_schedule_weekday_interval_path(@schedule, weekday, interval) %>)
            (<%= link_to "Remove", schedule_weekday_interval_path(@schedule, weekday, interval), data: { turbo_method: :delete } %>)
          </li>
        <% end %>
      <% end %>

      <li>
        <%= link_to "Add hours", new_schedule_weekday_interval_path(@schedule, weekday) %>
      </li>
    </ul>
  </div>
<% end %>

<h2>Shifts</h2>

<ul>
  <% @schedule.shift_days.each do |shift| %>
    <li>
      <%= shift.date %>

      <ul>
        <% shift.intervals.order(:starts_at).each do |interval| %>
          <li>
            <%= interval.starts_at_string %> ~ <%= interval.ends_at_string %>
            (<%= link_to "Edit", edit_schedule_shift_interval_path(@schedule, shift, interval) %>)
            (<%= link_to "Remove", schedule_shift_interval_path(@schedule, shift, interval), data: { turbo_method: :delete } %>)
          </li>
        <% end %>

        <li>
          <%= link_to "Add hours", new_schedule_shift_interval_path(@schedule, shift) %>
        </li>
      </ul>
      (<%= link_to "Edit", edit_schedule_shift_path(@schedule, shift) %>)
      (<%= link_to "Remove", schedule_shift_path(@schedule, shift), data: { turbo_method: :delete } %>)
    </li>
  <% end %>

  <li>
    <%= link_to "Add shift", new_schedule_shift_path(@schedule) %>
  </li>
</ul>
