<h1>Schedule <%= @schedule.key %></h1>

<dl>
  <dt>Time zone</dt>
  <dd><%= @schedule.time_zone %></dd>
</dl>

<h2>Hours</h2>

<% BizRecord::Interval::WEEKDAYS.each do |weekday| %>
  <div>
    <div>
      <%= weekday %>
    </div>

    <ul>
      <% if @schedule.intervals.public_send(weekday).any? %>
        <% @schedule.intervals.public_send(weekday).order(:starts_at).each do |interval| %>
          <li>
            <%= interval.formatted_starts_at %> ~ <%= interval.formatted_ends_at %>
            (<%= link_to "Edit", edit_schedule_interval_path(@schedule, interval, weekday: weekday) %>)
            (<%= link_to "Remove", schedule_interval_path(@schedule, interval, weekday: weekday), data: { turbo_method: :delete } %>)
          </li>
        <% end %>
      <% end %>

      <li>
        <%= link_to "Add hours", new_schedule_interval_path(@schedule, weekday: weekday) %>
      </li>
    </ul>
  </div>
<% end %>

<h2>Shifts</h2>

<ul>
  <% @schedule.shift_days.each do |shift| %>
    <li>
      <%= shift.date %>

      <ul>
        <% shift.intervals.order(:starts_at).each do |interval| %>
          <li>
            <%= interval.formatted_starts_at %> ~ <%= interval.formatted_ends_at %>
            (<%= link_to "Edit", edit_schedule_shift_interval_path(@schedule, shift, interval) %>)
            (<%= link_to "Remove", schedule_shift_interval_path(@schedule, shift, interval), data: { turbo_method: :delete } %>)
          </li>
        <% end %>

        <li>
          <%= link_to "Add hours", new_schedule_shift_interval_path(@schedule, shift) %>
        </li>
      </ul>
      (<%= link_to "Edit", edit_schedule_shift_path(@schedule, shift) %>)
      (<%= link_to "Remove", schedule_shift_path(@schedule, shift), data: { turbo_method: :delete } %>)
    </li>
  <% end %>

  <li>
    <%= link_to "Add shift", new_schedule_shift_path(@schedule) %>
  </li>
</ul>

<h2>Breaks</h2>

<ul>
  <% @schedule.break_days.each do |break_day| %>
    <li>
      <%= break_day.date %>

      <ul>
        <% break_day.intervals.order(:starts_at).each do |interval| %>
          <li>
            <%= interval.formatted_starts_at %> ~ <%= interval.formatted_ends_at %>
            (<%= link_to "Edit", edit_schedule_break_interval_path(@schedule, break_day, interval) %>)
            (<%= link_to "Remove", schedule_break_interval_path(@schedule, break_day, interval), data: { turbo_method: :delete } %>)
          </li>
        <% end %>

        <li>
          <%= link_to "Add hours", new_schedule_break_interval_path(@schedule, break_day) %>
        </li>
      </ul>
      (<%= link_to "Edit", edit_schedule_break_path(@schedule, break_day) %>)
      (<%= link_to "Remove", schedule_break_path(@schedule, break_day), data: { turbo_method: :delete } %>)
    </li>
  <% end %>

  <li>
    <%= link_to "Add break", new_schedule_break_path(@schedule) %>
  </li>
</ul>

<h2>Holidays</h2>

<ul>
  <% @schedule.holiday_days.each do |holiday| %>
    <li>
      <%= holiday.date %>
      (<%= link_to "Edit", edit_schedule_holiday_path(@schedule, holiday) %>)
      (<%= link_to "Remove", schedule_holiday_path(@schedule, holiday), data: { turbo_method: :delete } %>)
    </li>
  <% end %>

  <li>
    <%= link_to "Add holiday", new_schedule_holiday_path(@schedule) %>
  </li>
</ul>
