<h1>Schedule <%= @schedule.key %></h1>

<dl>
  <dt>Schedulable</dt>
  <dd><%= @schedule.schedulable_type %> #<%= @schedule.schedulable_id %></dd>

  <dt>Time zone</dt>
  <dd><%= @schedule.time_zone %></dd>
</dl>

<h2>Hours</h2>

<% BizRecord::Schedule::WeeklyHours::WEEKDAYS.each do |weekday| %>
  <div>
    <div>
      <%= weekday %>
    </div>

    <ul>
      <% if @schedule.hours_for(weekday).any? %>
        <% @schedule.hours_for(weekday).each do |starts_at, ends_at| %>
          <li>
            <%= starts_at %> ~ <%= ends_at %>
            (<%= link_to "Edit", edit_schedule_weekday_hour_path(@schedule, weekday, starts_at) %>)
            (<%= link_to "Remove", schedule_weekday_hour_path(@schedule, weekday, starts_at), data: { turbo_method: :delete } %>)
          </li>
        <% end %>
      <% end %>

      <li>
        <%= link_to "Add hours", new_schedule_weekday_hour_path(@schedule, weekday) %>
      </li>
    </ul>
  </div>
<% end %>
